:root{
  --colorPrimary: rgb(153, 51, 0);
  --colorYrllow: rgb(204, 153, 51);
  --colorGrey: #ece8dc;
  --colorWhite: #fff;
  --colorBlack: #222;
}
body{
  background: var(--colorWhite);
  color: var(--colorBlack);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.25rem!important;
}
.text-yellow{
  color: var(--colorYrllow);
}
.cart-icon{
  cursor: pointer;
  color: var(--colorPrimary);
  font-size: 2rem;
}
.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.default-background{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.image-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(153, 51, 0, 0.8), rgba(204, 153, 51, 0.7));
  z-index: -1;
}
.btn-yellow{
  border: 1px solid black !important;
  color: var(--colorYrllow);
  border-radius: 2px;
  text-transform: uppercase;
  padding: 5px 15px;
}
.btn-yellow:hover{
  background: var(--colorYrllow);
  color: var(--colorPrimary);
}
.footer{
  background: var(--colorBlack);
}
.menu{
  background: var(--colorGrey);
}