:root{
  --colorPrimary: #993300;
  --colorYrllow: #CC9933;
  --colorGrey: #ece8dc;
  --colorWhite: #fff;
  --colorBlack: #222;
}
body{
  background: var(--colorPrimary);
  color: var(--colorBlack);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.25rem!important;
}
.text-yellow{
  color: var(--colorYrllow);
}
.cart-icon{
  cursor: pointer;
  color: var(--colorPrimary);
  font-size: 2rem;
}
.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.default-background{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}